body{
	width:100%;
	height:100%;
}
a{
	text-decoration:none;
}
.shop_detail_box_clearfix{
	width:100%;
	height:100%;
}
.newbook_left{
	width:220px;
	height:200px;
	float:left;
	margin-top:50px;
}
.bookCover_area{
}
.img_book{
	width:100%;height:100%;
}
.newbook_right{
	width:50%;
	height:auto;
	float:left;
	margin-top:50px;
	margin-left:100px;
}
.view{
	width:100%;
	height:auto;
	min-height:20%;
	float:left;
	top:0;
	margin-top:30px;
	margin-left:100px;
}
.views{
	width:100%;
	height:auto;
	min-height:90px;
	float:left;
	margin-top:80px;
	margin-left:-60px;
}
.views_box{
	margin-top:30px;
	margin-left:30px;
	text-align:center;
	width:90%;
	height:auto;
	float:left;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #cecaca;
}
.views_info{
	width:90%;
	margin-left:65px;
	text-align:left;
}
.views_auth{
	width:90%;
	text-align:right;
	font-size:13px;
	color:blue;
}
.view_button{
	width:15%;height:10%;
	text-align:center;
	margin-top:15px;margin-left:70%;
}
.green_btn_2_btn{
	width:100px;
	height:40px;
	background-color:#fff;
	border:5px solid red;
	float:left;
	color:black;
	text-align:center;
	display:block;
	margin-left:50px;
	font-size:18px;
}
.green_btn_btn{
	width:100px;
	height:40px;
	background-color:red;
	border:4px solid red;
	float:left;
	color:black;
	font-style:
	text-align:center;
	display:block;
	margin-left:50px;
	font-size:18px;
}

